{% extends 'base.html'%}
{% block contect %}

<style>
        .resume
    {
     background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.5494572829131652) 0%, rgba(9,70,121,1) 100%, rgba(0,212,255,1) 100%);
    border:1px solid black;
    min-height:700px;
    }
    .pk
    {
    border:1px solid black;
    border-radius:2px;
    min-height:600px;
 background: rgb(215,229,240);
background: linear-gradient(90deg, rgba(215,229,240,0.4598214285714286) 100%, rgba(95,94,111,0.24693627450980393) 100%);
}
</style>
<div class="row resume">
    <div class="col-sm-12">
        <h1 style="color:white;font-family:sense;text-align:center;"><b style="color:orange;">Resume</b> Page</h1>
        <div class="row ">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pk">
                {% if data %}
                {% for x in data %}
                <img src="/{{x.rpic}}" height="600px" width="100%" style="backgornd-size:cover;">
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>
{% endblock %}